.faq {
  padding-right: 60px;
  padding-top: 100px;
  &__title {
    font-size: 44px;
    font-weight: 700;
    color: #002;
    margin-bottom: 40px;
  }
  &__card {
    border-bottom: 1px solid #ddd;
    padding: 30px 0;
  }
  &__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    color: #606070;
    &-text {
      font-size: 30px;
    }
  }
  &__icon {
    font-size: 36px;
    color: #606070;
  }
  &__text {
    margin-top: 10px;
    font-size: 16px;
    color: #404040;
  }
}
@media only screen and (max-width: 570px)  {
  .faq {
    &__title {
      font-size: 34px;
    }
    &__group {
      &-text {
        font-size: 20px;
      }
    }
    &__icon {
      font-size: 26px;

    }
  }
}
@media only screen and (max-width: 330px)  {
  .faq {
    &__title {
      font-size: 24px;
    }
    &__group {
      &-text {
        font-size: 16px;
      }
    }
    &__icon {
      font-size: 16px;

    }
    &__text {
      font-size: 12px;
    }
  }
}