.tel {
  position: fixed;
  right: 10px;
  bottom: 10px;
  color: rgb(255, 255, 255);
  animation: 1.2s ease 0s normal none 1 running shake;
  animation-iteration-count: infinite;
  -webkit-animation: 1.2s ease 0s normal none 1 running shake;
  -webkit-animation-iteration-count: infinite;
  border-radius: 50%;
  font-size: 30px;
  padding-top: 5px;
  padding: 15px 20px;
  transition: .3s all;
  border: none;
  background-color: blue;
  display: none;
}
@media only screen and (max-width: 780px) {
  .tel {
    display: block;
  }
}